body{
    background-color: #EEBDCC
    
}
header{
    border: 1px solid black;
    background-color: #AFC6EE;
    height: 100px;
    margin: 50px 10px 10px 10px;
}
.container{
    border: 1px solid black;
    background-color: #AFC6EE;
    height: 400px;
    margin: 20px 10px 10px 10px;
}
#section1{
    background-color: #EEE0AF;
    border: 1px solid black;
    height: 80px;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
#section2{
    background-color: #EEE0AF;
    border: 1px solid black;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#section3{
    background-color: #EEE0AF;
    border: 1px solid black;
    height: 130px;
    margin: 10px 10px 10px 10px;
}
#middle1{
    float: left;
    background-color: #BDEECC;
    border: 1px solid black;
    height: 60px;
    width: 48.5%;
    margin-top: 10px;
    margin-left: 5px;
}
#middle2{
    float: right;
    background-color: #BDEECC;
    border: 1px solid black;
    height: 60px;
    width: 48.5%;
    margin-top: 10px;
    margin-right: 5px;
}
footer{
    border: 1px solid black;
    background-color: #AFC6EE;
    height: 100px;
    margin:20px 10px; 
}

p{
    margin-left: 5px;
}

